/* Universal Styles */

html {
  font-size: 14px;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

.btn {
  width: 11.4rem;
  height: auto;
  padding: 1.3rem 0;
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
  opacity: 0.7;
}

/* Navigation */

.navbar {
  font-size: 1.1rem;
  font-weight: 600;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
}

/* Jumbotron */

.jumbotron {
  background-image: url(../images/jumbotron-bike.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 11.85rem 0;
  text-align: center;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.jumbotron h1 {
  font-family: "Monoton";
  font-size: 7.1rem;
}

.jumbotron p {
  max-width: 51.3rem;
  margin: auto;
}

.jumbotron .btn {
  margin-top: 2.8rem;
}

/* Featured Project */

h2 {
  font-size: 1.7rem;
  font-weight: 700;
  color: #399bd1;
}

.featured .image-container {
  height: 19rem;
  margin-top: 20px;
}

h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

.categories h3 {
  color: #399bd1;
}

.categories ul {
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.7);
}

/* Projects */

.projects {
  margin-bottom: 5.85rem;
}

/* Having Trouble */

.trouble {
  text-align: center;
  padding: 5.2rem 0;
  background-color: #f3f3f3;
}

.trouble strong {
  font-size: 2.5rem;
  font-weight: 700;
}

.trouble p {
  max-width: 42rem;
  margin: auto;
  padding: 1.4rem 0;
}
